/* Copyright (c) 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  height: 100%;
}

body {
  -webkit-app-region: drag;
  background-color: rgba(20, 20, 20, 0.93);
  color: #999;
  font-size: 80%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Click events are not received in draggable area. Making all clickable areas
 * not draggable to receive click events.
 * TODO(bshe): Remove this when http://crbug.com/142275 fixed.
 */
.dialog-topbar #navstrip,
.dialog-topbar #window-close-button,
.overlay-container .page,
#author-website,
/* TODO(bshe): Once http://crbug.com/369651 fixed, use .image-picker instead of
 * #category-container.
 */
#category-container,
#surprise-me {
  -webkit-app-region: no-drag;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.dialog-topbar {
  -webkit-box-align: center;
  display: -webkit-box;
  height: 54px;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
}

.dialog-topbar .spacer {
  -webkit-box-flex: 1;
}

#categories-list {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  height: 54px;
  outline: none;
  width: 100%;
}

#categories-list > li {
  -webkit-box-align: center;
  -webkit-transition: border-top 130ms ease;
  -webkit-user-select: none;
  border-top: 4px solid transparent;
  color: #777;
  display: -webkit-box;
  height: 50px;
}

#categories-list:not([disabled]) > li:hover {
  border-top-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

#categories-list > li[selected] {
  color: rgb(70, 78, 90);
  cursor: default;
}

#categories-list > li > div {
  line-height: 34px;
  padding: 0 10px;
}

#categories-list > li[selected] > div {
  color: #eee;
}

.close {
  background-position: center;
  background-repeat: no-repeat;
  height: 14px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
}

#window-close-button {
  background-image: url(../images/ui/close-white.png);
}

#window-close-button:hover {
  background-image: url(../images/ui/close-white-hover.png);
}

#bar {
  -webkit-transition: left 130ms ease-in-out;
  background-color: #eee;
  height: 4px;
  position: absolute;
  top: 0;
}

.dialog-main {
  display: flex;
  flex: 1;
}

#category-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

#spinner-container {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  height: 287px;
  padding-bottom: 15px;
  padding-top: 5px;
  position: absolute;
  top: 0;
  width: 100%;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#spinner-container #spinner {
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: spin;
  -webkit-animation-timing-function: linear;
  background-image: url(../images/ui/spinner.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

#wallpaper-set-by-message {
  -webkit-padding-end: 5px;
  -webkit-padding-start: 15px;
  height: 17px;
}

#wallpaper-set-by-message:empty {
  display: none;
}

.image-picker {
  -webkit-padding-end: 5px;
  -webkit-padding-start: 15px;
  display: block;
  flex: 1;
  /* Set font size to 0 to remove the extra vertical margin between two rows of
   * thumbnails.
   * TODO(bshe): Find the root cause of the margin.
   */
  font-size: 0;
  outline: none;
  overflow-y: auto;
  padding-bottom: 15px;
  padding-top: 5px;
}

.image-picker .spacer {
  display: block;
}

.image-picker > * {
  display: inline-block;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.image-picker [role=listitem] {
  -webkit-margin-end: 1px;
  height: 68px;
  margin-bottom: 1px;
  position: relative;
  width: 108px;
}

.image-picker:not([disabled]) [role=listitem]:hover {
  outline: 3px solid #f1f1f1;
  z-index: 1;
}

.image-picker .check {
  background-image: url(../images/ui/check.png);
  height: 32px;
  left: 38px;
  position: absolute;
  top: 18px;
  width: 32px;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* The width and height of img tag need to be set here. Otherwise, an incorrect
 * image size may be used during layout. Some images may be misaligned as a
 * result. See http://code.google.com/p/chromium/issues/detail?id=148480 for
 * screen shot.
 */
.image-picker img {
  height: 68px;
  width: 108px;
}

.image-picker[disabled]~.bottom-bar #online-wallpaper-attribute,
.image-picker[disabled] .check {
  visibility: hidden;
}

.image-picker[disabled],
.image-picker-offline img:not([offline]) {
  -webkit-filter: grayscale(1);
}

#wallpaper-attribute {
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.bottom-bar {
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  display: -webkit-box;
  height: 40px;
  padding: 11px 15px 8px 15px;
}

.bottom-bar > .spacer {
  -webkit-box-flex: 1;
}

#online-wallpaper-attribute {
  display: -webkit-box;
}

#attribute-image {
  -webkit-margin-end: 10px;
  height: 34px;
  width: 54px;
}

#author-website {
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  width: 240px;
}

/* [hidden] does display:none, but its priority is too low. */
[hidden],
body[custom] [visibleif]:not([visibleif~='custom']),
body:not([custom]) [visibleif~='custom'] {
  display: none !important;
}

.progress-bar {
  background-color: rgba(255, 255, 255, 0.7);
  height: 6px;
  position: absolute;
  top: 62px;
  width: 100%;
}

.progress-track {
  -webkit-transition: width 1ms linear;
  background-color: rgb(66, 129, 244);
  height: 100%;
  width: 0;
}

.overlay-container {
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  background-color: rgba(25, 25, 25, 0.25);
  bottom: 0;
  display: -webkit-box;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
}

.overlay-container .page {
  -webkit-border-radius: 3px;
  -webkit-box-orient: vertical;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
  color: #333;
  display: -webkit-box;
  padding: 20px;
  position: relative;
  width: 302px;
}

#error-container {
  z-index: 5;
}

.overlay-container .close {
  background-image: url(../images/ui/close-overlay.png);
}

.overlay-container .close:hover {
  background-image: url(../images/ui/close-overlay-hover.png);
}

/* Custom wallpaper thumbnail container. */
#add-new img {
  content: url(../images/ui/add-wallpaper-thumbnail.png);
}

.image-picker:not([disabled]) #add-new:hover img {
  content: url(../images/ui/add-wallpaper-thumbnail-hover.png);
}

#wallpaper-selection-container #content div {
  margin: 20px 0 5px 0;
}

#wallpaper-selection-container #warning span {
  line-height: 17px;
}

#wallpaper-selection-container select {
  height: 30px;
}

#wallpaper-selection-container input[type='file']::-webkit-file-upload-button {
  height: 30px;
}

#wallpaper-selection-container .remember-icon {
  content: url(../images/ui/remember.png);
}

#surprise-me #checkbox {
  background-image: url(../images/ui/checkbox_unchecked.png);
  display: inline-block;
  height: 17px;
  margin-right: 4px;
  opacity: 0.7;
  position: relative;
  top: 4px;
  width: 17px;
}

#surprise-me #checkbox.checked {
  background-image: url(../images/ui/checkbox_checked.png);
}
