<div id="audio-history-container" hidden>
  <div class="container">
    <span class="close"></span>
    <div class="header">
      <h1 i18n-content="audioHistoryTitle"></h1>
    </div>
    <div class="content">
      <div i18n-content="audioHistoryDescription1"></div>
      <div class="v-spacing"></div>
      <div i18n-values=".innerHTML:audioHistoryDescription2"></div>
      <div class="v-spacing"></div>
      <div i18n-values=".innerHTML:audioHistoryDescription3"></div>
    </div>
    <div class="buttonbar">
      <div class="right">
        <div>
          <button id="audio-history-cancel" i18n-content="cancel"
              class="finish-button">
          </button>
          <button id="audio-history-agree" i18n-content="audioHistoryAgree"
              class="primary">
          </button>
        </div>
      </div>
      <div class="left">
        <div id="audio-history-wait" class="message wait" hidden>
          <span class="icon"></span>
          <span i18n-content="audioHistoryWait" class="text"></span>
        </div>
        <div id="audio-history-error" class="message error" hidden>
          <span class="icon"></span>
          <span i18n-content="error" class="text"></span>
        </div>
      </div>
    </div>
  </div>
</div>
