<div id="finish-container" hidden>
  <div class="container">
    <span class="close"></span>
    <div class="header">
      <h1 i18n-content="finishedTitle"></h1>
    </div>
    <div class="content">
      <h3 i18n-content="finishedListIntro"></h3>
      <div class="check">
        <span class="icon"></span>
        <span i18n-content="finishedListItem1" class="text">
        </span>
      </div>
      <div class="check">
        <span class="icon"></span>
        <span i18n-content="finishedListItem2" class="text">
        </span>
      </div>
      <div i18n-values=".innerHTML:finishedSettings"></div>
      <div i18n-values=".innerHTML:finishedAudioHistory"></div>
    </div>
    <div class="buttonbar">
      <div class="right">
        <button id="done-button" i18n-content="finish"
            class="primary finish-button"></button>
      </div>
    </div>
  </div>
</div>
