<div id="speech-training-container" hidden>
  <div class="container">
    <span class="close"></span>
    <div class="header">
      <h1 i18n-content="trainingTitle"></h1>
    </div>
    <div id="speech-training-training" class="content">
      <div class="col-2">
        <div i18n-content="trainingDescription"></div>
        <br>
        <h3 i18n-content="trainingSpeak"></h3>
      </div>
      <div class="col-spacing"></div>
      <div class="col-2">
        <div class="train listening">
          <span class="icon"></span>
          <span i18n-content="trainingFirstPrompt"
              class="text"></span>
        </div>
        <div class="train not-started">
          <span class="icon"></span>
          <span i18n-content="trainingMiddlePrompt"
              class="text"></span>
        </div>
        <div class="train not-started">
          <span class="icon"></span>
          <span i18n-content="trainingLastPrompt"
              class="text"></span>
        </div>
      </div>
    </div>
    <div id="speech-training-toast" class="toast" hidden>
      <span i18n-content="trainingTimeout" class="message"></span>
      <button i18n-content="trainingRetry" class="retry-button"></button>
    </div>
    <div id="speech-training-processing" class="buttonbar" hidden>
      <div id="speech-training-retry" class="right" hidden>
        <button i18n-content="trainingRetry" class="primary retry-button">
        </button>
      </div>
      <div class="left">
        <div id="speech-training-wait" class="message wait">
          <span class="icon"></span>
          <span i18n-content="finishedWait" class="text"></span>
        </div>
        <div id="speech-training-error" class="message error" hidden>
          <span class="icon"></span>
          <span i18n-content="error" class="text"></span>
        </div>
      </div>
    </div>
  </div>
</div>
