<div id="start-container" hidden>
  <div class="container">
    <span class="close"></span>
    <div class="intro-image"></div>
    <div class="intro-text">
      <h1 i18n-content="introTitle"></h1>
      <h2 i18n-content="introSubtitle"></h2>
      <h3 id="intro-description" i18n-content="introDescription" hidden></h3>
      <h3 id="intro-description-audio-history-enabled"
          i18n-content="introDescriptionAudioHistoryEnabled" hidden></h3>
    </div>
    <div class="buttonbar">
      <button id="hotword-start" i18n-content="introStart"></button>
    </div>
  </div>
</div>
