/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  background-color: #ccc;
  margin: 0;
}

viewer-toolbar {
  visibility: hidden;
  white-space: nowrap;
  z-index: 3;
}

viewer-page-indicator {
  visibility: hidden;
  z-index: 3;
}

viewer-progress-bar {
  z-index: 3;
}

viewer-error-screen {
  visibility: hidden;
  z-index: 2;
}

viewer-password-screen {
  visibility: hidden;
  z-index: 2;
}

#plugin {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#sizer {
  position: absolute;
  z-index: 0;
}
