/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

<include src="../search_header.css">

#downloads-summary-text {
  font-weight: bold;
}

.disabled-link {
  color: #999;
  text-decoration: none;
}

#downloads-actions > a,
#downloads-actions > .disabled-link {
  -webkit-margin-start: 10px;
}

#downloads-actions > a:first-child {
  -webkit-margin-start: 0;
}

#open-downloads-folder {
  -webkit-margin-end: 16px;
}

#downloads-display,
#no-downloads-or-results {
  max-width: 740px;
  padding: 0 10px 34px;
}

.download {
  -webkit-margin-start: 114px;
  -webkit-padding-start: 52px;
  margin-bottom: 15px;
  position: relative;
}

.download,
#no-downloads-or-results {
  margin-top: 6px;
}

.date-container {
  left: -110px;
  position: absolute;
  width: 110px;
}

html[dir=rtl] .date-container {
  left: auto;
  right: -110px;
}

.date-container .since {
  color: black;
}

.date-container .date {
  color: #666;
}

.download .icon {
  height: 32px;
  left: 9px;
  position: absolute;
  top: 2px;
  width: 32px;
}

html[dir=rtl] .icon {
  left: auto;
  right: 9px;
}

.download.otr > .safe,
.download.otr > .show-dangerous {
  -webkit-transition: opacity 150ms;
  background: url(../../../../ui/webui/resources/images/otr_icon_standalone.png)
              no-repeat right bottom;
  opacity: .66;
}

html[dir=rtl] .download.otr > .safe,
html[dir=rtl] .download.otr > .show-dangerous {
  background-position: left bottom;
}

.download.otr > .safe:hover,
.download.otr > .show-dangerous:hover {
  opacity: 1;
}

.malware-description {
  color: rgb(196, 42, 23);
}

.progress {
  height: 48px;
  left: 0;
  position: absolute;
  top: -6px;
  width: 48px;
}

html[dir=rtl] .progress {
  left: auto;
  right: 0;
}

.progress.background {
  background: url(chrome://theme/IDR_DOWNLOAD_PROGRESS_BACKGROUND_32);
  background-size: 48px;
}

.name,
.src-url,
.controls a {
  -webkit-padding-end: 4px;
  -webkit-padding-start: 4px;
}

.name {
  -webkit-padding-end: 16px;
  display: none;
  max-width: 450px;
  word-break: break-all;
}

.interrupted {
  color: red;
}

.download .status {
  color: #999;
  white-space: nowrap;
}

.download .src-url {
  color: rgb(85, 102, 221);
  display: inline-block;
  max-width: 500px;
  overflow: hidden;
  padding-bottom: 1px;
  padding-top: 4px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.controls a {
  -webkit-margin-end: 12px;
  color: #777;
}

#downloads-pagination {
  -webkit-margin-start: 18px;
  padding-top: 24px;
}
