/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

html,
body {
  -webkit-user-select: none;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

iframe {
  overflow-x: scroll;
  overflow-y: scroll;
}

.dialog-body {
  border: 1px #aaa solid;
  height: 100%;
  margin-top: 0;
  overflow: hidden;
  width: 100%;
}

.overlay {
  bottom: 0;
  left: 0;
  padding: 100px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.opaque-overlay {
  background: white;
}

.translucent-black-overlay {
  background: rgba(0, 0, 0, 0.1);
}

.overlay > div {
  -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.15);
  background: white;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 15px;
}

.startup {
  left: 50%;
  margin-left: -266px;
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 500px;
}

.logo {
  background:
    url(chrome-extension://iadeocfgjdjdmpenejdbfeaocpbikmab/carrier_logo.png)
    no-repeat;
  background-position: 85% 50%;
  height: 58px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.splitter {
  border-bottom: 1px solid #EEE;
  height: 1px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.header-cell {
  -webkit-padding-start: 10px;
}

.canvas-cell {
  line-height: 0;
  vertical-align: middle;
}

#paymentForm,
#portalFrame {
  height: 100%;
  width: 100%;
}

#carrierPage {
  height: 380px;
  overflow: hidden;
  padding-top: 10px;
  width: 500px;
}

#banner {
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  -webkit-padding-end: 5px;
  -webkit-padding-start: 70px;
  background-color: rgb(252, 246, 224);
  border: 1px solid #ccc;
  display: -webkit-box;
  margin-left: -22px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 467px;
}

#statusHeader {
  font-size: 16px;
  font-weight: bold;
}

#auxHeader {
  font-size: 16px;
}

#finalMessage {
  padding-bottom: 50px;
}
