/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

* {
  font-family: Ubuntu, Arial, sans-serif;
}

tabbox {
  min-height: 650px;
}

h3 {
  margin: 2px 0;
}

th,
td {
  font-size: 14px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left;
  vertical-align: top;
}

thead tr {
  font-size: 14px;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background: rgb(238, 238, 255);
}

.log-time {
  white-space: nowrap;
}

.log-event.error {
  background: rgb(255, 220, 220);
}

.task-log-details label {
  cursor: pointer;
}

.task-log-collapse-check {
  vertical-align: top;
}

.task-log-collapse-check ~ ul {
  display: inline-block;
  height: 1em;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.task-log-collapse-check:checked ~ ul {
  height: auto;
}

.file-icon {
  background-image: url(chrome://syncfs-internals/file.png);
  background-position: 0 2px;
  background-repeat: no-repeat;
  padding-left: 18px;
}

.folder-icon {
  background-image: url(chrome://syncfs-internals/folder_closed.png);
  background-position: 0 2px;
  background-repeat: no-repeat;
  padding-left: 18px;
}
