{
{%if key is defined %}
  "key": "{{key}}",
{% endif %}
  "manifest_version": 2,
  "name": "__MSG_CHROMEVOX_NAME__",
  "version": "{{set_version}}",
  "description": "__MSG_CHROMEVOX_DESCRIPTION__",
{% if is_guest_manifest == '1' %}
  "incognito": "split",
{% endif %}
  "background": {
{% if is_chromevox_next == '1' %}
    "page": "cvox2/background/background.html"
{% else %}
    "page": "chromevox/background/background.html"
{% endif %}
  },
  "permissions": [
    "accessibilityPrivate",
    "bookmarks",
    "brailleDisplayPrivate",
{% if is_chromevox_next == '1' %}
    "commands.accessibility",
{% endif %}
    "commandLinePrivate",
    "experimental",
    "history",
    "storage",
    "systemPrivate",
    "tabs",
    "tts",
    "virtualKeyboardPrivate",
    "<all_urls>"
  ],
{% if is_chromevox_next == '0' %}
  "content_scripts": [
    {
      "matches": [ "<all_urls>" ],
      "exclude_globs": [ "chrome-extension://mndnfokpggljbaajbnioimlmbfngpief/chromevox/background/background.html" ],
      "all_frames": true,
      "js": [
{% if is_js_compressed == '1' %}
        "chromeVoxChromePageScript.js"
{% else %}
        "closure/closure_preinit.js",
        "closure/base.js",
        "deps.js",
        "chromevox/injected/loader.js"
{% endif %}
      ]
    }
  ],
{% endif %}
  "web_accessible_resources": [
    "chromevox/injected/api.js",
    "chromevox/injected/api_util.js",
    "chromevox/injected/mathjax.js",
    "chromevox/injected/mathjax_external_util.js"
  ],
{% if is_chromevox_next == '1' %}
  "automation": {
    "desktop": true
  },
  "commands": {
    "nextElement": {
      "description": "__MSG_CHROMEVOX_NEXT_OBJECT__",
      "suggested_key": {
        "chromeos": "Search+Right"
      }
    },
    "previousElement": {
      "description": "__MSG_CHROMEVOX_PREVIOUS_OBJECT__",
      "suggested_key": {
        "chromeos": "Search+Left"
      }
    },
    "nextCharacter": {
      "description": "__MSG_CHROMEVOX_NEXT_CHARACTER__",
      "suggested_key": {
        "chromeos": "Search+Shift+Right"
      }
    },
    "previousCharacter": {
      "description": "__MSG_CHROMEVOX_PREVIOUS_CHARACTER__",
      "suggested_key": {
        "chromeos": "Search+Shift+Left"
      }
    },
    "nextWord": {
      "description": "__MSG_CHROMEVOX_NEXT_WORD__",
      "suggested_key": {
        "chromeos": "Search+Ctrl+Shift+Right"
      }
    },
    "previousWord": {
      "description": "__MSG_CHROMEVOX_PREVIOUS_WORD__",
      "suggested_key": {
        "chromeos": "Search+Ctrl+Shift+Left"
      }
    },
    "nextLine": {
      "description": "__MSG_CHROMEVOX_NEXT_LINE__",
      "suggested_key": {
        "chromeos": "Search+Down"
      }
    },
    "previousLine": {
      "description": "__MSG_CHROMEVOX_PREVIOUS_LINE__",
      "suggested_key": {
        "chromeos": "Search+Up"
      }
    },
    "nextLink": {
      "description": "__MSG_CHROMEVOX_NEXT_LINK__",
      "suggested_key": {
        "chromeos": "Search+L"
      }
    },
    "previousLink": {
      "description": "__MSG_CHROMEVOX_PREVIOUS_LINK__",
      "suggested_key": {
        "chromeos": "Search+Shift+L"
      }
    },
    "nextHeading": {
      "description": "__MSG_CHROMEVOX_NEXT_HEADING__",
      "suggested_key": {
        "chromeos": "Search+H"
      }
    },
    "previousHeading": {
      "description": "__MSG_CHROMEVOX_PREVIOUS_HEADING__",
      "suggested_key": {
        "chromeos": "Search+Shift+H"
      }
    },
    "goToBeginning": {
      "description": "__MSG_CHROMEVOX_JUMP_TO_TOP__",
      "suggested_key": {
        "chromeos": "Search+Ctrl+Left"
      }
    },
    "goToEnd": {
      "description": "__MSG_CHROMEVOX_JUMP_TO_BOTTOM__",
      "suggested_key": {
        "chromeos": "Search+Ctrl+Right"
      }
    },
    "doDefault": {
      "description": "__MSG_CHROMEVOX_PERFORM_DEFAULT_ACTION__",
      "suggested_key": {
        "chromeos": "Search+Space"
      }
    },
    "toggleChromeVoxVersion": {
      "description": "__MSG_CHROMEVOX_TOGGLE_CHROMEVOX__",
      "suggested_key": {
        "chromeos": "Search+Ctrl+Q"
      }
    }
  },
{% endif %}
  "options_page": "chromevox/background/options.html",
  "default_locale": "en"
}
