/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#anchor {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 84%;
  margin: 0;
  min-width: 45em;
  padding: 0.75em;
}

.global-button {
  margin: 1px 3px 0 3px;
}

h1,
h2 {
 font-size: 120%;
 letter-spacing: -.5px;
 margin: 0;
}

h1 {
  color: rgb(74, 142, 230);
  font-weight: bold;
  padding: 0;
}

h2 {
  -webkit-padding-end: 1em;
  -webkit-padding-start: 0;
  color: rgb(58, 117, 189);
  display: inline-block;
  font-weight: normal;
  margin-top: 0;
}

#header {
  background: rgb(82, 150, 222);
  background-size: 100%;
  border: 1px solid rgb(58, 117, 189);
  border-radius: 6px;
  color: white;
  margin-bottom: 0.75em;
  overflow: hidden;
  padding: 0.6em 1em 0.75em 0;
  position: relative;
  text-shadow: 0 0 2px black;
}

html[dir='rtl'] #header {
  padding: 0.6em 0 0.75em 1em;
}

#header h1 {
  -webkit-padding-start: 3em;
  background: url(../../../../ui/webui/resources/images/gear.png) no-repeat;
  background-position: 12px 60%;
  color: white;
  display: inline;
  margin: 0;
}

html[dir='rtl'] #header h1 {
  background-position: right 12px top 60%;
}

#header p {
  -webkit-padding-start: 0.4em;
  color: white;
  display: inline;
  font-size: 84%;
  font-style: italic;
}

.list {
  border-collapse: collapse;
  font-size: 84%;
  line-height: 200%;
  width: 100%;
}

.list:not(.filtered) tr:nth-child(odd) td {
  background: rgb(239, 243, 255);
}

.list td {
  font-family: 'Courier New', monospace;
  line-height: 1.4em;
  padding: 0 0.5em;
  padding-top: 0.35em;
  vertical-align: top;
}

.list tr td:nth-last-child(1),
.list tr th:nth-last-child(1) {
  -webkit-padding-end: 1em;
}

.list:not(.filtered) .tab .name {
  -webkit-padding-start: 1.5em;
}

.list .name {
  width: 20%;
}

.list .button-cell {
  width: 7%;
}

.list .name div {
  height: 1.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-hidden {
  display: none;
}

.number-expanded,
.number-collapsed  {
  text-align: left;
  text-overflow: ellipsis;
  width: 80%;
}

html[dir='rtl'] .number-expanded,
html[dir='rtl'] .number-collapsed  {
  text-align: right;
}

tr > *:nth-child(1),
tr > *:nth-child(2) {
  -webkit-border-end: 1px solid rgb(181, 198, 222);
}

.name {
  background-position: 5em center;
  background-repeat: no-repeat;
}

.stat-value {
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

html[dir='rtl'] #details .name {
  background-position-left: auto;
  background-position-right: 5em;
}

.number-collapsed .stat-value {
  display: none;
}

.number-expanded .stat-value {
  display: auto;
}

#status {
  color: rgb(255, 0, 0);
  margin: .5em 0;
}
