/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#login-header-bar {
  border-bottom: 3px solid black;
  bottom: 0;
  left: 0;
  padding-bottom: 7px;
  position: absolute;
  right: 0;
}

#login-header-bar {
  /* Using copy of Ash launcher background with 0.8 opacity applied to it.
     Otherwise if opacity: 0.8 is set here it will affect button text as well.
     Have to position background differently so that opacity is not applied
     to child elements. */
  background-image: url(chrome://theme/IDR_LAUNCHER_BACKGROUND);
  padding-top: 7px;
}

html[screen=lock] .login-header-bar-hidden,
html[screen=oobe] .login-header-bar-hidden {
  opacity: 0;
}

html[screen=lock] .login-header-bar-animate-fast,
html[screen=oobe] .login-header-bar-animate-fast {
  -webkit-transition: opacity 200ms ease-out;
}

html[screen=lock] .login-header-bar-animate-slow,
html[screen=oobe] .login-header-bar-animate-slow {
  -webkit-transition: opacity 2s ease-out;
}

.header-bar-item:first-child {
  -webkit-padding-start: 15px;
}

#login-header-bar button,
#login-header-bar button:active,
#login-header-bar button:focus,
#login-header-bar button:hover {
  -webkit-box-shadow: none;
  background: transparent none;
  cursor: pointer;
  height: 34px;
  margin: 0;
  min-width: 0;
  opacity: 0.6;
  padding: 5px 8px;
  vertical-align: middle;
}

#login-header-bar button:not(.button-restricted),
#login-header-bar button:active:not(.button-restricted),
#login-header-bar button:focus:not(.button-restricted),
#login-header-bar button:hover:not(.button-restricted) {
  color: white !important;
  opacity: 1 !important;
}

.header-bar-item {
  display: inline-block;
  height: 34px;
}

html[dir=rtl] .header-bar-item {
  background-position: right center;
}

#login-header-bar #shutdown-button,
#login-header-bar #add-user-button,
#login-header-bar #guest-user-button,
#login-header-bar #cancel-multiple-sign-in-button {
  -webkit-padding-start: 24px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
}

html[dir=rtl] #login-header-bar #shutdown-button,
html[dir=rtl] #login-header-bar #add-user-button,
html[dir=rtl] #login-header-bar #guest-user-button,
html[dir=rtl] #login-header-bar #cancel-multiple-sign-in-button {
  background-position: right center;
}

#login-header-bar #shutdown-button {
  background-image: url(chrome://theme/IDR_ICON_POWER_WHITE);
}

#login-header-bar #add-user-button {
  background-image: url(chrome://theme/IDR_ICON_ADD_USER_WHITE);
}

#login-header-bar #guest-user-button {
  background-image: url(chrome://theme/IDR_ICON_GUEST_WHITE);
}

#login-header-bar #cancel-multiple-sign-in-button {
  /* TODO(dzhioev): replace with appropriate image when possible. */
  background-image: url(chrome://theme/IDR_PANEL_CLOSE);
}

.button-restricted {
  border: 1px solid transparent;
  color: white !important;
  opacity: 0.4 !important;
}
