/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#oauth-enrollment {
  min-height: 609px;
  padding: 70px 17px 21px;
  width: 722px;
}

#oauth-enroll-step-contents {
  color: #666;
  display: -webkit-box;
  margin-bottom: 10px;
}

#oauth-enroll-step-contents > div {
  display: none;
}

.oauth-enroll-state-working #oauth-enroll-step-working,
.oauth-enroll-state-error #oauth-enroll-step-error,
.oauth-enroll-state-explain #oauth-enroll-step-explain,
.oauth-enroll-state-success #oauth-enroll-step-success {
  display: table;
  height: 480px;
  margin: 0 auto;
}

.oauth-enroll-state-signin #oauth-enroll-step-signin {
  display: -webkit-flex;
  width: 100%;
}

#oauth-enroll-signin-frame-container {
  -webkit-flex: 1 1 auto;
  box-sizing: border-box;
  padding-bottom: 20px;
}

#oauth-enroll-signin-frame {
  border: 0 none;
  height: 456px;
  width: 100%;
}

#oauth-enroll-signin-divider {
  -webkit-flex: 0 0 auto;
  background: linear-gradient(to bottom, #e3e3e3, #cacaca 50%, #e3e3e3);
  border: none;
  width: 1px;
}

#oauth-enroll-signin-right {
  -webkit-flex: 0 0 auto;
  -webkit-margin-end: 20px;
  -webkit-margin-start: 30px;
  font-size: 12px;
  margin-top: 30px;
  width: 200px;
}

@media (pointer:coarse) {
  #oauth-enroll-signin-right {
    font-size: 14px;
  }
}

#oauth-enroll-signin-right > div {
  margin-top: 20px;
}

#oauth-enroll-learn-more-link,
.oauth-enroll-explain-link {
  display: none;
}

#oauth-enrollment.mode-manual #oauth-enroll-learn-more-link,
#oauth-enrollment.mode-forced #oauth-enroll-learn-more-link,
#oauth-enrollment.mode-recovery #oauth-enroll-learn-more-link {
  display: inline;
}

#oauth-enrollment.mode-auto .oauth-enroll-explain-link {
  display: inline;
}

.oauth-enroll-step-content {
  display: table-cell;
  vertical-align: middle;
}

.oauth-enroll-step-icon {
  display: inline-block;
  position: relative;
  top: 0.5em;
  vertical-align: top;
}

.oauth-enroll-step-icon > * {
  -webkit-margin-end: .4em;
  display: inline-block;
  height: 22px;
  position: relative;
  top: -11px;
  width: 22px;
}

#oauth-enrollment.mode-auto #oauth-enroll-error-retry {
  display: none;
}

.oauth-enroll-step-message {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  vertical-align: top;
}

#oauth-enroll-explain-message {
  white-space: pre-line;
}

.oauth-enroll-link {
  color: rgb(37, 79, 155);
  cursor: pointer;
  text-decoration: none;
}

.oauth-enroll-button {
  display: none;
}

.oauth-enroll-state-signin.mode-manual #oauth-enroll-cancel-button,
.oauth-enroll-state-signin.mode-forced #oauth-enroll-back-button,
.oauth-enroll-state-signin.mode-recovery #oauth-enroll-back-button,
.oauth-enroll-state-working.mode-manual #oauth-enroll-cancel-button,
.oauth-enroll-state-working.mode-forced #oauth-enroll-back-button,
.oauth-enroll-state-working.mode-recovery #oauth-enroll-back-button,
.oauth-enroll-state-error.mode-manual #oauth-enroll-cancel-button,
.oauth-enroll-state-error.mode-auto #oauth-enroll-retry-button,
.oauth-enroll-state-error.mode-forced #oauth-enroll-back-button,
.oauth-enroll-state-error.mode-recovery #oauth-enroll-back-button,
.oauth-enroll-state-explain #oauth-enroll-explain-retry-button,
.oauth-enroll-state-success #oauth-enroll-done-button {
  display: inline;
}

#oobe.oauth-enrollment #header-oauth-enrollment {
  display: block;
}

#oauth-saml-notice-container {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 62px;
}

#oauth-enrollment.saml {
  padding: 97px 0 21px;
}

#oauth-enrollment.saml #oauth-enroll-signin-frame {
  height: 444px;
}

#oauth-enrollment.saml #oauth-enrollment-controls,
#oauth-enrollment.saml #oauth-enroll-signin-link-container {
  -webkit-padding-end: 17px;
}

#oauth-enrollment:not(.saml) #oauth-saml-notice-container {
  display: none;
}

#oauth-enrollment.saml #oauth-enroll-signin-divider,
#oauth-enrollment.saml #oauth-enroll-signin-right {
  display: none;
}

#oauth-saml-notice-message {
  margin: 0 auto;
}
