/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.user-list-table {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  border-spacing: 0;
}

.user-name-edit-row {
  background-color: rgb(235, 239, 250);
  border: 1px solid lightgrey;
  padding: 5px;
}

.user-list-item {
  padding: 2px;
}

.user-icon {
  border: 1px solid black;
  height: 26px;
  width: 26px;
}

.user-email-label {
  -webkit-margin-start: 10px;
}

.user-name-label {
  -webkit-margin-start: 10px;
  color: darkgray;
}

.user-email-name-block {
  -webkit-box-flex: 1;
  max-width: 318px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remove-user-button {
  background-image: -webkit-image-set(
      url(../../../../../ui/resources/default_100_percent/close_2.png) 1x,
      url(../../../../../ui/resources/default_200_percent/close_2.png) 2x);
  height: 16px;
  width: 16px;
}

.remove-user-button:hover {
  background-image: -webkit-image-set(
      url(../../../../../ui/resources/default_100_percent/close_2_hover.png)
          1x,
      url(../../../../../ui/resources/default_200_percent/close_2_hover.png)
          2x);
}

#userList {
  height: 166px;
  padding: 5px;
  width: 366px;
}

#userList[disabled],
#userList[disabled] > [selected],
#userList[disabled] > :hover {
  border-color: hsl(0, 0%, 85%);
}

#userList[disabled] > [selected],
#userList[disabled] > :hover {
  background-color: hsl(0, 0%, 90%);
}

#userList[disabled] .remove-user-button {
  visibility: hidden;
}

#userNameEdit {
  border: 1px solid lightgrey;
  width: 366px;
}

#ownerOnlyWarning {
  -webkit-padding-start: 20px;
  background-image: url(warning.png);
  background-repeat: no-repeat;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 17px;
  padding-bottom: 1px;
}

input#userNameEdit:invalid {
  background-color: rgb(255, 102, 102);
}
